.create-tags__input {
  padding: 0 12px;
  width: 300px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.create-tags__button-delete {
  width: 118px;
}

.create-tags__button-add {
  width: 136px;
}
